/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)

   // ouvrir invite commande generale, npm strat parametres, settings serv, mettre lien vers backend
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.main_header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

.header_edit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:20px;
	background-color: black;
	width: 100%;
	height: 58px;
}

.header_edit a {
	color: white;
	font-size: large;
}

.header_edit button {
	min-width: 100px;
	padding: 13px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50px;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	color: black;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
li:hover{
	color: #B1663C;
}

a {
	text-decoration: none;
	color: black;
}

a:hover{
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
} 

.projets {
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 20px;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 20px;
}	

.filter {
	min-width: 100px;
	padding: 13px;
	background-color: white;	
	margin-bottom: 50px;
	border: 2px solid #1D6154;
	border-radius: 50px;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	color: #1D6154;
}

.filter:focus {
	color: white;
	background-color: #1D6154;
}
	
	/* style filter ici filter + filter:focus*/

/* .edit {
	
} */

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.footer_login {
	position: fixed;
	bottom: 0;
	right: 0;
}

/* modal */

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(141, 141, 141, 0.4);
}

.modal h2 {
	padding-top: 20px;
}

.modal_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	padding: 20px;
	width: 70%;
	max-height: 80%;
	border-radius: 14px;
	position: relative;
}

.modal_content .gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modal_close {
	background-color: white;
	position: absolute;
	width: 20px;
	right: 15px;
	top: 15px;
	color: grey;
	text-decoration: none;
}

.modal .button {	
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	height: 30px;
	text-align: center;
	border-radius: 60px ;
}

.modal form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding-top: 30px;
	width: 70%;
}

.modal .modal_content .modal_form_imgDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	background-color: rgba(232, 241, 246, 1);
	padding-top: 30px;
	height: 165px;
	width: 100%;
}

.modal .modal_content .modal_form_imgDiv .add-photo-button {
	display: flex;
	font-family: 'Work';
	font-weight: 700;
	color: rgba(48, 102, 133, 1);
	background-color: rgba(203, 214, 220, 1);
	width: 180px;
	height: 30px;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 60px ;
	cursor: pointer;
	margin: 15px;
}

.modal .modal_content .modal_form_imgDiv .add-photo-input {
	display: none;
	visibility: none;
}

.modal .modal_content .modal_form_imgDiv .add-photo-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 15px;
}

.modal .modal_content .modal_form_imgDiv img {
	position: absolute;
	top:100px;
	left: 41%;
	height: 195px;
}

.modal .modal_content .file-input-info {
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: 100%;
}



/* styliser bouton ajout avec icone */

.modal_content .return {
	position: absolute;
	left: 15px;
	top: 15px;
}

#small_gallery {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap:15px;
	padding: 30px;
	max-height: 80%;
	border-bottom: 1px solid #1D6154;
}

#small_gallery figure {
	display: flex;
	position: relative;
	flex-direction: column;
	max-width: 15%;
}

#small_gallery img {
	position: relative;
	max-width: 100px;
}

#small_gallery figure .figcaption {
	width: 100%;
}

#small_gallery figure .deleteButton {
	position: absolute;
	top: 0;
	right: 0;
}